@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.primary__button {
  //reset button styles
  all:unset;
  //layout button
  display: flex;
  padding: 1rem 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  //style button
  border-radius: $border-radius-md;
  background: $color-primary;
  //text button
  color: $color-bg;
  text-align: center;
  font-family: $font-title;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  cursor: pointer;
}
