@use "../src/styles/variables" as *;
@use "../src/styles/mixins" as *;

.landing__container {
  margin: auto 1.5rem;
}

.hero__landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.title__landing {
  color: $color-h1;
  font-family: $font-title;
  font-size: 48px;
}

.title--highlight {
  color: $color-primary;
}

.p__landing {
  font-size: 1.26rem;
  font-family: $font-body;
  line-height: 2rem;
}

.card__landing {
  display: flex;
  height: 11.89875rem;
  padding: 1.5rem;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 0.5rem;
  background-image:
    linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 60%),
    url("./assets/card-landing.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 1rem;
  border: 1px solid $color-border;
  color: $color-h1;
  margin: 5rem auto;
}

.card__title {
  margin: 0;
}

.kw__landing__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.kw__title {
  color: $color-h1;
}

.kw__landing__button {
  all: unset;
  color: #00f2ff;
  font-family: $font-title;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

.kw__landing__card {
  display: flex;
  padding: 1rem;
  align-items: center;
  gap: 1rem;
  align-self: stretch;
  background: $color-bg-card;
  border-radius: 1rem;
  border: 1px solid $color-border;
}

.kw__card__figure {
  margin: 0;
  width: 5rem;
  height: 7rem;
  flex-shrink: 0;
  border-radius: $border-radius-md;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

.kw__card__info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.kw__card__title,
.kw__card__p {
  margin: 0;
}

.kw__card__title{
    color:$color-h1;
    font-weight: 500;
}

.kw__progress__container {
  width: 13.25rem;
  height: 0.375rem;
  background-color: $color-border;
  border-radius: $border-radius-lg;

}

.kw__loading__bar{
    width:9.27438rem;
    height: 0.375rem;
    background: linear-gradient(90deg, $color-primary 0%, $color-ribbon 100%);
    border-radius: $border-radius-lg 0 0 $border-radius-lg;
}

@include desktop {
  .landing__container {
    margin: 5rem; // He quitado el auto lateral para que no choque con el flex
    display: flex;
    flex-direction: row;
    align-items: flex-start; // Para que no se estiren verticalmente de forma rara
    gap: 4rem; // Espacio entre las dos columnas
  }

  .landing__section1 {
    flex: 2; // Toma más espacio (aprox 60-65%)
  }

  .kw__landing {
    flex: 1; // Toma menos espacio (aprox 35%)
    margin-top: 2rem; // Ajusta según necesites para alinear con el texto de la izq
  }

  .card__landing {
    margin: 4rem 0; // Mucho más moderado para que se vea junto a la otra sección
  }
}